#add-btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

#space {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

#person {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.crosshair {
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: -webkit-grab;
}

.sound-panel {
    position: absolute;
    width: 200px;
    height: 20px;
}