#add-btn-container {
    position: absolute;
    bottom: 0;
    left: 0;
}

#space {
    position: relative;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}

#person {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.crosshair {
    position: absolute;
    top: -9px;
    left: -12px;
    cursor: -webkit-grab;
    z-index: 1;
}

.sound-panel {
    position: absolute;
    width: 200px;
    height: 200px;
}

img {
    height: 40px;
}

#person img {
    margin-right: -20px;
    margin-bottom: -20px;
}